html {
  scroll-behavior: smooth;
 }

body{
    
    background: linear-gradient( #427cd4 0%,#d0e4f5 100%);
}

#map iframe
{
    margin-left: 120px;
    width: 80%;
    padding-top: 5px;
    padding-left: 50px;
    padding-right: 50px;
}


#myname{
   font-family: 'Courgette', cursive;
   color:black;
    
}
#welcome{
    margin-top: 40px;
   
}

.contact_1
{
    margin-left: 180px;
}

.contact_1 h3
{
    display: inline;
}
.contact_1 a
{
    text-shadow: none;
}

#contactUs{
    margin-left: 180px;
}

.announcement{
background-color:#427cd4;
width: 100%;
height: 30px;
}

#marqueeStyle{
  width:100%;
  direction:right;
  height:100px;
  color: beige;
  font-size:120%;
}



/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}


#achievementsID{
 padding-bottom: 10px;
}




#myCarousel
{
   
  width: 800;
    border-style: ridge;
    border-color: azure;
    border-width: 2px;
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}

#myCarousel img
{
  
   
  margin-top: 50px;
  
       }


.carousel-inner p
{
    margin-bottom: 15px;
    margin-top: 15px;
    color : white;
    font-size: 20px;
}



.travel_mainDiv
{
  float: left;
  width: 33.33%;
  padding: 5px;
  border: 1px solid #c7c7c7;
}

.travel_mainDiv img
{
  width: 100%;
  height:300px;
} 

.travel_mainDiv hr
{
    width: 100%; 
}

.travel_mainDiv h5 , .travel_mainDiv p
{
margin-left: 20px;
}

#details {
    margin-left: 500px;
}